<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dc.net.automation.webservice.gls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <dc.net.automation.webservice.gls.Properties.Settings>
            <setting name="dc_net_automation_webservice_gls_GlsLabelService_IlsWebService"
                serializeAs="String">
                <value>https://labelservice.gls-italy.com/ilswebservice.asmx</value>
            </setting>
        </dc.net.automation.webservice.gls.Properties.Settings>
    </applicationSettings>
</configuration>